.p-component {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.p-disabled,
.p-component:disabled {
  opacity: 0.6;
}

.p-error,
.p-invalid {
  color: #f44336;
}

.p-text-secondary {
  color: var(--text-color-secondary);
}

.pi {
  font-size: 1rem;
}
