:root {
  --p-datatable-row-striped-background: #ffffff !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd).p-datatable-row-selected,
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-datatable-row-selected {
  background: var(--primary-color) !important;
  color: #ffffff !important;
}

.p-datatable .p-paginator-top {
  border-width: 0 0 1px 0;
  border-radius: 0;
}

.p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
}

.p-datatable .p-datatable-header {
  background: #f8f9fa;
  color: var(--text-color);
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

.p-datatable .p-datatable-footer {
  background: #f8f9fa;
  color: var(--text-color);
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: var(--text-color);
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

.p-datatable .p-datatable-tfoot > tr > td {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: var(--text-color);
  background: #f8f9fa;
}

.p-datatable .p-sortable-column {
  outline-color: #63ffed;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: var(--text-color-secondary);
  margin-left: 0.5rem;
}

.p-datatable .p-sortable-column .p-sortable-column-badge {
  border-radius: 50%;
  height: 1.143rem;
  min-width: 1.143rem;
  line-height: 1.143rem;
  color: #ffffff;
  background: var(--primary-color);
  margin-left: 0.5rem;
}

.p-datatable .p-sortable-column:not(.p-datatable-row-selected):hover {
  background: #e9ecef;
  color: var(--text-color);
}

.p-datatable .p-sortable-column:not(.p-datatable-column-sorted):hover {
  background: #e9ecef;
  color: var(--text-color);
}

.p-datatable .p-sortable-column:not(.p-datatable-row-selected):hover .p-sortable-column-icon {
  color: var(--text-color-secondary);
}

.p-datatable .p-sortable-column.p-datatable-row-selected {
  background: #f8f9fa;
  color: var(--primary-color);
}

.p-datatable .p-sortable-column.p-datatable-row-selected .p-sortable-column-icon {
  color: var(--primary-color);
}

.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-reserva-ventanilla {
  background: #e6e6e6;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-reserva-ventanilla:hover {
  background: #e6e6e6 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-reserva-ventanilla.p-datatable-row-selected {
  background: #d3d3d3;
  color: var(--text-color);
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-reserva-ventanilla.p-datatable-row-selected:hover {
  background: #d3d3d3 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-reserva-ventanilla.p-datatable-row-selected > td > a {
  background: transparent;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-reservado {
  background: #d7ba0075;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-reservado:hover {
  background: #d7ba0075 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-reservado.p-datatable-row-selected {
  background: #d7ba009e;
  color: var(--text-color);
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-reservado.p-datatable-row-selected:hover {
  background: #d7ba009e !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-reservado.p-datatable-row-selected > td > a {
  background: transparent;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-verificado {
  background: #005fa354;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-verificado:hover {
  background: #005fa354 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-verificado.p-datatable-row-selected {
  background: #005fa378;
  color: var(--text-color);
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-verificado.p-datatable-row-selected:hover {
  background: #005fa378 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-verificado.p-datatable-row-selected > td > a {
  background: transparent;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-atendido {
  background: #1d912273;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-atendido:hover {
  background: #1d912273 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-atendido.p-datatable-row-selected {
  background: #1d912296;
  color: var(--text-color);
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-atendido.p-datatable-row-selected:hover {
  background: #1d912296 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-atendido.p-datatable-row-selected > td > a {
  background: transparent;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-no-atendido {
  background: #80808073;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-no-atendido:hover {
  background: #80808073 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-no-atendido.p-datatable-row-selected {
  background: #50505073;
  color: var(--text-color);
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-no-atendido.p-datatable-row-selected:hover {
  background: #80808073 !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-no-atendido.p-datatable-row-selected > td > a {
  background: transparent;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-no-disponible {
  background: #b3b3b35e;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-no-disponible.p-datatable-row-selected:hover {
  background: #b3b3b35e !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-no-disponible {
  background: #b3b3b35e;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-reservado.p-datatable-row-selected:hover {
  color: var(--text-color);
  border-color: transparent;
  background: #b3b3b35e !important;
}

.p-datatable .p-datatable-tbody > tr.tr-no-disponible.p-datatable-row-selected {
  background: #323232bf;
  color: #bcc8cf;
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-programacion-medico {
  background: #9775a1;
  color: #d8dfe4;
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-programacion-medico:hover {
  background: #9775a1 !important;
  color: #d8dfe4 !important;
}

.p-datatable .p-datatable-tbody > tr.tr-programacion-medico.p-datatable-row-selected {
  background: #8f5f9e;
  color: #f4f7f8;
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-programacion-medico.p-datatable-row-selected:hover {
  background: #8f5f9e !important;
  color: #f4f7f8 !important;
}

.p-datatable .p-datatable-tbody > tr.tr-programacion-medico.p-datatable-row-selected > td > a {
  background: transparent;
  color: #f4f7f8;
}

.p-datatable .p-datatable-tbody > tr.tr-cita-online {
  background: #e6e1c9;
  color: var(--text-color);
  /* color: #d8dfe4; */
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.tr-cita-online:hover {
  background: #e6e1c9 !important;
  color: var(--text-color);
  /* color: #d8dfe4 !important; */
}

.p-datatable .p-datatable-tbody > tr.tr-cita-online.p-datatable-row-selected {
  background: #cfcbb5;
  color: var(--text-color);
  /* color: #f4f7f8; */
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-cita-online.p-datatable-row-selected:hover {
  background: #cfcbb5 !important;
  color: var(--text-color);
  /* color: #f4f7f8 !important; */
}

.p-datatable .p-datatable-tbody > tr.tr-cita-online.p-datatable-row-selected > td > a {
  background: transparent;
  color: var(--text-color);
  /* color: #f4f7f8; */
}

.p-datatable .p-datatable-tbody > tr.tr-inhabilitado {
  background: #b3b3b35e;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr.tr-inhabilitado.p-datatable-row-selected:hover {
  background: #b3b3b35e !important;
  color: var(--text-color);
}

.p-datatable .p-datatable-tbody > tr.tr-inhabilitado {
  background: #b3b3b35e;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-inhabilitado.p-datatable-row-selected {
  background: #323232bf;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-disponible {
  background: #b0e0e6;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-no-disponible {
  background: #ffa07a;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr.tr-prestado {
  background: #fff68f;
  color: var(--text-color);
  transition: box-shadow 0.2s;
  outline-color: #63ffed;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-reconsulta {
  background: #d7ba00;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-programacion-medico {
  background: #8f5f9e;
  color: #f4f7f8;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-cita-online {
  background: #e6e1c9;
  /* color: #d8dfe4; */
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-reserva-ventanilla {
  background: #e6e6e6;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-reservado {
  background: #d7ba0075;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-verificado {
  background: #005fa354;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-atendido {
  background: #1d912273;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-no-atendido {
  background: #80808073;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-programacion-medico {
  background: #9775a1;
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
  width: 2rem;
  height: 2rem;
  color: var(--text-color-secondary);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
  color: var(--text-color);
  border-color: transparent;
  background: #e9ecef;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #63ffed;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
  margin-right: 0.5rem;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-row-selected {
  background: var(--primary-color);
  color: #ffffff;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-row-selected > td > a {
  background: var(--primary-color);
  color: #ffffff;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 var(--primary-color);
}

.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 var(--primary-color);
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr:not(.p-datatable-row-selected):hover {
  background: #e9ecef;
  color: var(--text-color);
}

.p-datatable .p-column-resizer-helper {
  background: var(--primary-color);
}

.p-datatable .p-datatable-scrollable-header,
.p-datatable .p-datatable-scrollable-footer {
  background: #f8f9fa;
}

.p-datatable .p-datatable-loading-icon {
  font-size: 2rem;
}

.p-datatable.p-datatable-gridlines .p-datatable-header {
  border-width: 1px 1px 0 1px;
}

.p-datatable.p-datatable-gridlines .p-datatable-footer {
  border-width: 0 1px 1px 1px;
}

.p-datatable.p-datatable-gridlines .p-paginator-top {
  border-width: 0 1px 0 1px;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border-width: 0 1px 1px 1px;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: 1px 1px 1px 1px;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  border-width: 1px;
}

.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
  border-width: 1px;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #fcfcfc;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-datatable-row-selected {
  background: var(--primary-color);
  color: #ffffff;
}

.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:nth-child(even).p-datatable-row-selected
  .p-row-toggler {
  color: #ffffff;
}

.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:nth-child(even).p-datatable-row-selected
  .p-row-toggler:hover {
  color: #ffffff;
}

.p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0.5rem 0.5rem;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}

.p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
  padding: 0.5rem 0.5rem;
}

.p-datatable.p-datatable-sm .p-datatable-footer {
  padding: 0.5rem 0.5rem;
}

.p-datatable.p-datatable-lg .p-datatable-header {
  padding: 1.25rem 1.25rem;
}

.p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
  padding: 1.25rem 1.25rem;
}

.p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
  padding: 1.25rem 1.25rem;
}

.p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
  padding: 1.25rem 1.25rem;
}

.p-datatable.p-datatable-lg .p-datatable-footer {
  padding: 1.25rem 1.25rem;
}

.p-datatable .p-datatable-tbody > tr > td.td-rehabilitacion {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 1px 1px 1px 1px !important;
  padding: 0rem 0rem !important;
  vertical-align: top !important;
}

.p-datatable .p-datatable-tbody > tr > td.td-prog-rehabilitacion {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 1px 1px 1px 1px !important;
  padding: 0rem 0rem !important;
  vertical-align: middle !important;
}
