.p-inline-message {
  padding: 0.5rem 0.5rem;
  margin: 0;
  border-radius: 4px;
}

.p-inline-message.p-inline-message-info {
  background: #b3e5fc;
  border: solid #0891cf;
  border-width: 0px;
  color: #044868;
}

.p-inline-message.p-inline-message-info .p-inline-message-icon {
  color: #044868;
}

.p-inline-message.p-inline-message-success {
  background: #c8e6c9;
  border: solid #439446;
  border-width: 0px;
  color: #224a23;
}

.p-inline-message.p-inline-message-success .p-inline-message-icon {
  color: #224a23;
}

.p-inline-message.p-inline-message-warn {
  background: #ffecb3;
  border: solid #d9a300;
  border-width: 0px;
  color: #6d5100;
}

.p-inline-message.p-inline-message-warn .p-inline-message-icon {
  color: #6d5100;
}

.p-inline-message.p-inline-message-error {
  background: #ffcdd2;
  border: solid #e60017;
  border-width: 0px;
  color: #73000c;
}

.p-inline-message.p-inline-message-error .p-inline-message-icon {
  color: #73000c;
}

.p-inline-message .p-inline-message-icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.p-inline-message .p-inline-message-text {
  font-size: 1rem;
}

.p-inline-message.p-inline-message-icon-only .p-inline-message-icon {
  margin-right: 0;
}
