.p-terminal {
  background: #ffffff;
  color: var(--text-color);
  border: 1px solid #dee2e6;
  padding: 1rem;
}

.p-terminal .p-terminal-input {
  font-size: 1rem;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}
