:root {
  --color-title: #409693;
  --color-borders: #afafaf;
  --color-divider: #cccc7f;
  --color-field: #00796b;
  --color-value: black;
  --color-icon-field: #00796b;
  --color-icon-field-secondary: #796900;

  --font-family: Century Gothic;

  --color-background-header: #00796b;
  --color-background-footer: #eaeff2;
  --color-text-header: #cdd2db;
}
